@model ProjetoLojaJogos.Models.Jogo
@{
    ViewBag.Title = "Cadastro de Jogos";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
<fieldset class="formulario">
    <legend>Cadastro realizado com sucesso</legend>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Codigo)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Codigo)
    </div>
    <br>
    <div class="editor-field">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Nome)
    </div>
    <br>
    <div class="editor-field">
        @Html.DisplayNameFor(model => model.Versao)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Versao)
    </div>
    <br>
    <div class="editor-field">
        @Html.DisplayNameFor(model => model.Desenvolvedor)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Desenvolvedor)
    </div>
    <br>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Genero)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Genero)
    </div>
    <br>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.FaixaEtaria)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.FaixaEtaria)
    </div>
    <br>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Plataforma)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Plataforma)
    </div>
    <br>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.AnoLancamento)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.AnoLancamento)
    </div>
    <br>
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Sinopse)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Sinopse)
    </div>
    <br>

    <p>@Html.ActionLink("Voltar", "Jogo", "Jogo")</p>
</fieldset>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval");
    }
}


